<app-modal [nameDelete]="nameDelete" (onConfirmDelete)="onConfirmDelete()" ></app-modal>

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
          <li class="breadcrumb-item active" aria-current="page">Danh sách sản phẩm</li>
        </ol>
      </nav>
</div>

<app-loading *ngIf="loading"> </app-loading>



<div *ngIf="loading == false">
  <div class="mb-3 d-flex align-items-center justify-content-between" style="gap : 10px;">
    <div class="">
      <a href="" routerLink="/product/add" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button type="button" class="btn btn-primary">
          Thêm sản phẩm
        </button>
      </a>
    </div>

    <div class="">
      <div class=" my-2 my-lg-0   gap-3">
        <div class="d-flex align-items-center " style="gap : 10px">
          <input [(ngModel)]="textInput" (ngModelChange)="onChanges($event)" class="form-control mr-sm-2" type="text" placeholder="Nhập tên sản phẩm ...">
         
        </div>
      </div>
    </div>
  
  </div>
  <div class="row py-4" style="background: #f3f3f3;">
      <div *ngFor="let product of products ; let i = index" class="col-6 col-sm-6 col-md-4 col-lg-3  my-2">
          <div class="d-flex flex-column p-4 rounded" style="gap : 10px; background: white;">
             <div class="">
                <img style="width : 100%" src={{product.image}} alt="" class="">
             </div>
             <div class="">
              <span >{{product.name}}</span>
             </div>
             <div class="d-flex justify-content-center align-items-center" style="gap : 10px">
                <span class="">{{formatVNDCurrency(product.price)}}</span>
                <b class="text-danger">{{formatVNDCurrency(product.price_sale)}}</b>
             </div>
             <div class="d-flex w-100" style="gap : 10px">
                <a [routerLink]="[product._id]"><button type="button" class="btn btn-warning">Sửa</button></a>
                <button (click)="onDelete(product._id, product.name, product.image)" type="button" class="btn btn-danger">Xóa</button>
             </div>
          </div>
      </div>
     
  </div>
  <!-- <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>STT</th>
          <th>Tên hàng</th>
          <th>Ảnh</th>
          <th>Danh mục</th>
          <th>Giá gốc</th>
          <th>Giá bán</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products ; let i = index">
          <td>{{i + 1}}</td>
          <td ><div  style=" white-space: nowrap; 
            width: 250px; 
            overflow: hidden;
            text-overflow: ellipsis; ">{{product.name}}</div></td>
          <td> <img  src={{product.image}} width="100" height="100"/> </td>
          <td>{{product.category_id.name}}</td>
          <td>{{formatVNDCurrency(product.price)}}</td>
          <td>{{formatVNDCurrency(product.price_sale)}}</td>
          <td class="d-flex w-100" style="gap : 10px">
              <a [routerLink]="[product._id]"><button type="button" class="btn btn-warning">Sửa</button></a>
              <button (click)="onDelete(product._id, product.name, product.image)" type="button" class="btn btn-danger">Xóa</button>
          </td>
          
        </tr>
        
      </tbody>
    </table>
  </div> -->
    
</div>
<router-outlet></router-outlet>