<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Project</li>
        </ol>
      </nav>
</div>


<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>STT</td>
        <th>Name</th>
        <th>PhoneNumber</th>
        <th>Date order</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataItem ; let i = index">
        <td>#{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.phone_number}}</td>
        <td>{{item.createdAt}}</td>
        <td>
           <span *ngIf="item.status == 6" class="badge bg-danger text-white">Chưa tiếp nhận</span>
           <span *ngIf="item.status == 5" class="badge bg-warning text-white">Đã tiếp nhận</span>
           <span *ngIf="item.status == 4" class="badge bg-warning text-white">Đã rời kho</span>
           <span *ngIf="item.status == 3" class="badge bg-info text-white">Đang vận chuyển</span>
           <span *ngIf="item.status == 2" class="badge bg-primary text-white">Đã đến nơi</span>
           <span *ngIf="item.status == 1" class="badge bg-success text-white">Hoàn thành</span>
           <span *ngIf="item.status == 0" class="badge bg-dark text-white">Đã hủy</span>
        </td>
        <td class="d-flex w-100" style="gap : 10px">
            <a [routerLink]="[item._id]"><button type="button" class="btn btn-warning">Edit</button></a>
            <a [routerLink]="['/order-detail', item._id]"><button type="button" class="btn btn-primary">Detail</button></a>
            
        </td>
      </tr>
     
     
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>