<div class="container mt-3">
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2024. All rights reserved.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div style="font-size: 20px;">
        <a href="https://web.facebook.com/hung.v.minh.7" class="text-white me-4 px-2">     
           <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="https://hungvu.online/profile" class="text-white me-4 px-2">
          <i class="fa fa-google" aria-hidden="true"></i>
        </a>
       
      </div>
      <!-- Right -->
    </div>
  </div>